.title--contacto {
    @extend .title--sobremi;
    margin-bottom: 50px;
}

.container--contacto {
    display: flex;
    justify-content: space-around;
}

form {
    input {
        background-color: #111;
        border: solid 1px #444;
        width: 400px;
        margin: 20px;
        color: white;
        height: 30px;
        border-radius: 5%;

        &::placeholder {
            padding-left: 5px;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        background-color: #555;
        border: solid 1px #444;
        width: 400px;
        height: 40px;
        margin: 20px;
        color: #fff;
        box-shadow: 0 0 5px #444;

        &:hover {
            transition: all 0.5s;
            background-color: #444;
            box-shadow: 0 0 10px #222;
        }
    }

    textarea {
        background-color: #111;
        border: solid 1px #444;
        width: 400px;
        height: 200px;
        margin: 20px;
        color: white;
        resize: none;
        border-radius: 2%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            padding-left: 5px;
        }
    }
}

.hr1 {
    color: white;
    margin: auto;
    width: 1400px;
    border-top: solid 2px grey;
    margin-bottom: 50px;
}

.redes {
    display: flex;
    flex-direction: column;

    .img--redes {
        margin-top: 30px;
        width: 60px;
    }

    .card--redes {
        color: #fff;
    }

    h3 {
        display: inline-block;
        vertical-align: top;
        margin-top: 40px;
        padding-left: 20px
    }

    .hr--contacto {
        margin-top: 50px;
        border-top: 2px solid grey;
    }

    h4 {
        color: #444;
        text-align: center;
        font-style: italic;
    }
}